.button,
.button[disabled] {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--theme-contrast-color);
  color: var(--theme-contrast-color);
  display: block;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
}

.button--disabled {
  border-color: transparent;
}

.button__content-container {
  bottom: 50%;
  position: absolute;
  transform: translateY(50%);
  width: 100%;
}
