.app-menu {
  align-items: center;
  background-color: var(--theme-color--translucent);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 8px;
  width: 100%;
}

.app-menu__click-to-close {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.app-menu__container {
  background-color: var(--theme-color--darker);
  flex: 0 1 auto;
  max-width: 600px;
  padding: 8px;
  position: relative;
  z-index: 1;
  width: 100%;
}

.app-menu__main {
  border-top: 2px solid var(--theme-contrast-color--translucent);
  margin: 16px auto 0;
}

.app-menu__command {
  margin: 0 auto;
  padding-top: 16px;
}

.profile-badge__img-container {
  border: 2px solid var(--theme-contrast-color);
  border-radius: 50%;
  height: 56px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  width: 56px;
}

.profile-badge__img {
  bottom: 50%;
  display: block;
  height: auto;
  position: absolute;
  right: 50%;
  transform: translate(50%, 50%);
  width: 100%;
  z-index: 0;
}

.profile-badge__img--monogram {
  text-align: center;
}

.profile-badge__button-container {
  height: 56px;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
}

.profile-badge__learn-more-container {
  margin: 0 auto;
  padding-top: 8px;
  text-align: center;
}
