.home {
  height: 100%;
  max-height: 100%;
  position: relative;
  width: 100%;
}

.home__container {
  background-color: var(--theme-color);
  height: 100%;
  position: relative;
  width: 100%;
}

.home__grid {
  height: 100%;
  outline: none;
  width: 100%;
}

.home__message {
  background-color: var(--theme-color--darker);
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.home__menu,
.home__test-message {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.home__menu--open {
  display: block;
}

.home__test-message--open {
  display: block;
}
