:root {
  --theme-color: #3700ff;
  --theme-color--translucent: #3700ff77;
  --theme-color--darker: #211f6d;
  --theme-contrast-color: #fff;
  --theme-contrast-color--translucent: #fff7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--theme-color);
  margin: 0;
  padding: 0;
}

.__one-hundred-percent {
  height: 100%;
  width: 100%;
}

