.grid {
  height: 100%;
  position: relative;
  width: 100%;
}

.grid__avatar {
  --transition-duration: 100ms;
  --transition-timing-function: ease-in-out;
  position: absolute;
  transition: height var(--transition-duration) var(--transition-timing-function),
    left var(--transition-duration) var(--transition-timing-function),
    width var(--transition-duration) var(--transition-timing-function),
    top var(--transition-duration) var(--transition-timing-function);
}

.grid__row {
  border-bottom: 1px solid var(--theme-color--darker);
  width: 100%;
}

.grid__row:first-of-type {
  border-top: 1px solid var(--theme-color--darker);
}

.grid__col {
  border-right: 1px solid var(--theme-color--darker);
  float: left;
  height: 100%;
}

.grid__col:first-of-type {
  border-left: 1px solid var(--theme-color--darker);
}
